<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />

  <link rel="stylesheet" href="./profile.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner">
    </section>

    <section class="profile-section">
      <div class="container y-u-max-w-1200">
        <div class="bottom">
          <div class="sidbar">

            <div class="tabs">
              <button class="active" data-tab="profile"><i class="fas fa-user"></i> تفاصيل الحساب </button>
              <button data-tab="downloads"><i class="fas fa-donate"></i> التبرعات</button>
              <button data-tab="favorites"><i class="fas fa-bell"></i> الاشعارات</button>
              <a href="../login/login.html"><i class="fas fa-right-from-bracket"></i> تسجيل الخروج</a>
            </div>
          </div>
          <div class="content">
            <div class="main-content tab-content active" data-content="profile">
              <form action="">
                <div class="form-group">
                  <div class="group">
                    <label for="name">الاسم الاول</label>
                    <input type="text" id="name" name="name">
                  </div>
                  <div class="group">
                    <label for="family-name"> اسم العائلة</label>
                    <input type="text" id="family-name" name="family-name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="group">
                    <label for="date-of-birth"> تاريخ الميلاد</label>
                    <input type="date" id="date-of-birth" name="date-of-birth">
                  </div>
                  <div class="group">
                    <label for="gender"> النوع</label>
                    <input type="text" id="gender" name="gender">
                  </div>
                </div>
                <div class="form-group">
                  <div class="group">
                    <label for="email"> البريد الإلكتروني</label>
                    <input type="email" id="email" name="email">
                  </div>
                  <div class="group">
                    <label for="phone"> رقم الهاتف</label>
                    <input type="tel" id="phone" name="phone">
                  </div>
                </div>

                <button type="submit"> حفظ</button>



              </form>
              <div class="settings-div">
                <div class="card">
                  <div class="header">
                    <i class="fas fa-bell"></i>
                    <h3>توقف الاشعارات</h3>
                  </div>
                  <div class="content">
                    <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل </p>
                    <label class="notification-toggle">
                      <input type="checkbox" checked>
                      <span class="toggle-slider"></span>
                    </label>
                  </div>
                </div>
                <div class="card">
                  <div class="header">
                    <i class="fas fa-trash-can"></i>
                    <h3>حذف الحساب</h3>
                  </div>
                  <div class="content">
                    <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل </p>
                    <button>تعطيل الحساب</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="download-content tab-content" data-content="downloads">
              <div class="header">
                <p>نوع التبرع</p>
                <p>مصدر التبرع</p>
                <p>التاريخ</p>
                <p>المبلغ</p>
              </div>
              <ul class="content">
                <li class="item">
                  <p>كفالة طفل</p>
                  <p> بناء مسجد</p>
                  <p>2025-01-01</p>
                  <p>1000 <img src="../../assets/ryal.svg" alt=""></p>
                </li>
                <li class="item">
                  <p>كفالة طفل</p>
                  <p> بناء مسجد</p>
                  <p>2025-01-01</p>
                  <p>1000 <img src="../../assets/ryal.svg" alt=""></p>
                </li>
                <li class="item">
                  <p>كفالة طفل</p>
                  <p> بناء مسجد</p>
                  <p>2025-01-01</p>
                  <p>1000 <img src="../../assets/ryal.svg" alt=""></p>
                </li>
                <li class="item">
                  <p>كفالة طفل</p>
                  <p> بناء مسجد</p>
                  <p>2025-01-01</p>
                  <p>1000 <img src="../../assets/ryal.svg" alt=""></p>
                </li>
              </ul>



            </div>
            <div class="favorite-content tab-content" data-content="favorites">
              <div class="header">
                <p>الاشعارات</p>
                <p>الاجراء</p>
              </div>
              <ul class="content">
                <li class="item">
                  <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                    النوادر أو الكلمات العشوائية إلى النص.</p>
                  <button><i class="fas fa-trash-can"></i></button>
                </li>
                <li class="item">
                  <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                    النوادر أو الكلمات العشوائية إلى النص.</p>
                  <button><i class="fas fa-trash-can"></i></button>
                </li>
                <li class="item">
                  <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                    النوادر أو الكلمات العشوائية إلى النص.</p>
                  <button><i class="fas fa-trash-can"></i></button>
                </li>
                <li class="item">
                  <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
                    النوادر أو الكلمات العشوائية إلى النص.</p>
                  <button><i class="fas fa-trash-can"></i></button>
                </li>

              </ul>


            </div>

          </div>
        </div>



      </div>

    </section>


  </main>


  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
  <script src="../../js/add-to-cart-hover.js"></script>
</body>

</html>