<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="./sub-products.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="panner">
    </section>
    <section class="products-section products-page-section">
      <div class="container y-u-max-w-1200">
        <h2>التصنيفات</h2>
        <div class="bottom">
          <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle-checkbox">
          <label for="sidebar-toggle" class="sidebar-toggle-label">
            <i class="fas fa-bars"></i>
          </label>
          <div class="sidebar">

            <div class="buttons">
              <button class="btn full active"><i class="fas fa-globe"></i> الكل </button>
              <button class="btn full"><i class="fas fa-heartbeat"></i> الرعاية الصحية </button>
              <button class="btn full"><i class="fas fa-graduation-cap"></i> التعليم </button>
              <button class="btn full"><i class="fas fa-building"></i> البناء </button>
              <button class="btn full"><i class="fas fa-ambulance"></i> الاغاثة </button>
              <button class="btn full"><i class="fas fa-hand-holding-usd"></i> الكفالة </button>
              <button class="btn full"><i class="fas fa-credit-card"></i> سداد الديون </button>
            </div>
          </div>

          <div class="products-grid">

            <div class="product-card">
              <a href="../products/sub-products.html" class="product-img">
                <img src="../../assets/gaza.png" alt="">
              </a>
              <p class="product-title"> قوافل اغاثة غزة</p>
              <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
            </div>

            <div class="product-card">
              <a href="../products/sub-products.html" class="product-img">
                <img src="../../assets/debit.png" alt="">
              </a>
              <p class="product-title"> كفالة يتيم</p>
              <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
            </div>

            <div class="product-card">
              <a href="../products/sub-products.html" class="product-img">
                <img src="../../assets/chair.png" alt="">
              </a>
              <p class="product-title">اجهزة واطراف صناعية </p>
              <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
            </div>

            <div class="product-card">
              <a href="../products/sub-products.html" class="product-img">
                <img src="../../assets/medicine.png" alt="">
              </a>
              <p class="product-title">توفير علاج </p>
              <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="product-card">
              <a href="../products/sub-products.html" class="product-img">
                <img src="../../assets/mosque.png" alt="">
              </a>
              <p class="product-title">بناء مساجد </p>
              <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
            </div>

            <div class="product-card">
              <a href="../products/sub-products.html" class="product-img">
                <img src="../../assets/orphan.png" alt="">
              </a>
              <p class="product-title">زواج يتيمات </p>
              <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
            </div>



          </div>
        </div>



      </div>


    </section>
  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>