<section class="categories-section">
  <div class=" container y-u-max-w-1200">
    <h2> شركاؤنا في الخير</h2>
    <div class="categories-grid">
      <div class="category-item">
        <img src="../../assets/publisher1.png" alt="">
      </div>
      <div class="category-item">
        <img src="../../assets/publisher2.png" alt="">
      </div>
      <div class="category-item">
        <img src="../../assets/publisher3.png" alt="">
      </div>
      <div class="category-item">
        <img src="../../assets/publisher4.png" alt="">
      </div>
      <div class="category-item">
        <img src="../../assets/publisher6.png" alt="">
      </div>
    </div>
  </div>
</section>
