<footer class="footer">
  <div class="container y-u-max-w-1200">
    <div class="logo">

      <div class="links y-u-flex y-u-flex-col ">
        <a href="../layout/index.html">
          <img src="../../assets/footer-icon.png" alt="footer-icon">
        </a>
        
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="#">احسان في الخير سابقين</a></li>
          <li><a href="#"><img src="../../assets/map.svg" alt="خريطة الموقع"> الرياض , المملكة العربية
              السعودية</a></li>
          <li><a href="#"><img src="../../assets/email.svg" alt="البريد الإلكتروني"> info@ahsan.com </a></li>
          <li><a href="#"> <img src="../../assets/phone.svg" alt="رقم الهاتف">+966 12 345 6789</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>الصفحات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../layout/index.html">الرئيسيه</a></li>
          <li><a href="../activities/activities.html">انشطة</a></li>

          <li><a href="../contact/send-message.html">تواصل للمساعدة</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>السياسات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../privacy-policy/privacy-policy.html">سياسة الخصوصية</a></li>
          <li><a href="../about-us/about-us.html"> عن المؤسسة</a></li>
        </ul>
      </div>

    </div>
    <div class="bottom">
      <p>جميع الحقوق محفوظة لYamama solutions</p>
      <div class="imgs-row">
        <img src="../../assets/visa.png" alt="شعار فيزا">
        <img src="../../assets/master-card.png" alt="شعار ماستركارد">
        <img src="../../assets/apple-pay.png" alt="شعار Apple Pay">
        <img src="../../assets/stc-pay.png" alt="شعار stc pay">
        <img src="../../assets/samsung-pay.png" alt="شعار Samsung Pay">
      </div>

    </div>
  </div>
</footer>