<div class="product-card">
  <div class="product-img">
    <img src="../../assets/health-care.png" alt="">
  </div>
  <div class="product-content">
    <p>برامج الرعاية الصحية</p>
    <p class="product-title"> هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها
      بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما،
      عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص.</p>
    <a href="../payment/payment-data.html" class="btn rounded">تبرع الان <i class="fas fa-arrow-left"></i></a>
  </div>
</div>
