<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="./activities.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="panner">
    </section>
    <section class="products-section activities-section">
      <div class=" container y-u-max-w-1200">
        <div class="products-grid">

          <div class="product-card">
            <a href="../products/products.html" class="product-img">
              <img src="../../assets/health-care.png" alt="">
            </a>
            <div class="product-content">
              <p>برامج الرعاية الصحية</p>
              <p class="product-title"> كل ما يشمل العمليات الجراحية وتوفير الادوية واجهزة واطراف صناعية</p>
              <a href="../products/products.html" class="btn rounded"> مزيد <i class="fas fa-arrow-left"></i></a>
            </div>

          </div>
          <div class="product-card">
            <a href="../products/products.html" class="product-img">
              <img src="../../assets/kid.png" alt="">
            </a>
            <div class="product-content">
              <p>برامج التعليم</p>
              <p class="product-title"> كل ما يشمل العمليات الجراحية وتوفير الادوية واجهزة واطراف صناعية</p>
              <a href="../products/products.html" class="btn rounded"> مزيد <i class="fas fa-arrow-left"></i></a>
            </div>

          </div>

          <div class="product-card">
            <a href="../products/products.html" class="product-img">
              <img src="../../assets/build.png" alt="">
            </a>
            <div class="product-content">
              <p>برامج البناء </p>
              <p class="product-title"> كل ما يشمل العمليات الجراحية وتوفير الادوية واجهزة واطراف صناعية</p>
              <a href="../products/products.html" class="btn rounded"> مزيد <i class="fas fa-arrow-left"></i></a>
            </div>

          </div>

          <div class="product-card">
            <a href="../products/products.html" class="product-img">
              <img src="../../assets/help.png" alt="">
            </a>
            <div class="product-content">
              <p>برامج الاغاثة </p>
              <p class="product-title"> كل ما يشمل العمليات الجراحية وتوفير الادوية واجهزة واطراف صناعية</p>
              <a href="../products/products.html" class="btn rounded"> مزيد <i class="fas fa-arrow-left"></i></a>
            </div>

          </div>
          <div class="product-card">
            <a href="../products/products.html" class="product-img">
              <img src="../../assets/money.png" alt="">
            </a>
            <div class="product-content">
              <p>برامج الكفالة </p>
              <p class="product-title"> كل ما يشمل العمليات الجراحية وتوفير الادوية واجهزة واطراف صناعية</p>
              <a href="../products/products.html" class="btn rounded"> مزيد <i class="fas fa-arrow-left"></i></a>
            </div>

          </div>
          <div class="product-card">
            <a href="../products/products.html" class="product-img">
              <img src="../../assets/debit.png" alt="">
            </a>
            <div class="product-content">
              <p>برامج سداد الديون </p>
              <p class="product-title"> كل ما يشمل العمليات الجراحية وتوفير الادوية واجهزة واطراف صناعية</p>
              <a href="../products/products.html" class="btn rounded"> مزيد <i class="fas fa-arrow-left"></i></a>
            </div>

          </div>



        </div>
      </div>
    </section>
  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>