<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Ehsaan</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="about-us.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner">
    </section>

    <section class="products-section about-us-section">
      <div class=" container y-u-max-w-1200">
        <div class="breadcrumbs">
          <a href="../layout/index.html">الرئيسية</a>
          <p href="#" class="active"> من نحن</p>
        </div>
        <div class="products-grid">


          <div class="product-card">
            <a href="./nbza.html" class="product-img">
              <img src="../../assets/about-us-1.png" alt="نبذة عن المؤسسة">
            </a>
            <p class="product-title">نبذة عن المؤسسة</p>
          </div>
          <div class="product-card">
            <a href="./our-work.html" class="product-img">
              <img src="../../assets/about-us-2.png" alt="أعمالنا الخيرية">
            </a>
            <p class="product-title">اعمالنا الخيرية</p>
          </div>
          <div class="product-card">
            <a href="./our-partner.html" class="product-img">
              <img src="../../assets/about-us-3.png" alt="شركاؤنا">
            </a>
            <p class="product-title">شركائنا</p>
          </div>
          <div class="product-card">
            <a href="./our-vision.html" class="product-img">
              <img src="../../assets/about-us-4.png" alt="رؤيتنا">
            </a>
            <p class="product-title">رؤيتنا</p>
          </div>




        </div>
      </div>
    </section>



  </main>



  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>