<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="./about-us.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="nbza-section">
      <div class="container y-u-max-w-1200">
        <div class="breadcrumbs">
          <a href="../layout/index.html">الرئيسية</a>
          <a href="./about-us.html"> من نحن</a>
          <p class="active"> نبذة عنا</p>
        </div>
        <div class="about-us-header">
          <p>حب .. مودة .. عطاء </p>
        </div>
        <div class="about-us-content">
          <div class="right">
            <p><span>عن المؤسسة:</span>منصة إلكترونية رسمية ، تُعنى باستقبال التبرعات و تقديم المساعدات النقـدية
              لمستـــــحـقيها، تجمع المـنصة تحـت مظلتـها كافـة الجمعيات والفرق الخـيرية التطوعية في المملكة العربية
              السعودية، وتتيح للأفراد والمؤسسات إمكانـية التبرع إلكترونيًا عبر قنوات الدفع الآمنة.</p>

          </div>
          <img src="../../assets/about-us-sub.png" alt="صورة تعريفية بالمؤسسة">
        </div>
        <div class="our-features">
          <h2 class="header">المميزات</h2>

          <div class="featuers-grid">
            <div class="card">
              <i class="fas fa-shield-alt"></i>
              <p><span>آمنــــة</span>جميع عمليات التبرع تتم عـبر اتصال آمــن و مشفر و لا يتم حفظ أي معلومات متعلقة
                بالبطاقات الائتمانية في المنصة.</p>
            </div>
            <div class="card">
              <i class="fas fa-check"></i>
              <p><span>سهلــــة</span>إمكانية التبرع بخطوات سهلة وسريعة.</p>
            </div>
            <div class="card">
              <i class="fas fa-globe"></i>
              <p><span>شاملـــة
                </span>تضم كافة الفـــــرق التطوعــية والجمعيات الخـيريـة في المملكة.</p>
            </div>
            <div class="card">
              <i class="fas fa-sync"></i>
              <p><span>موحــدة</span>تمنع ازدواجية الصرف من أكثر من جهة للحالات المستفــــيدة.</p>
            </div>
          </div>
        </div>


        <div class="about-us-content">
          <div class="right">
            <p>المؤسسة تعمل مباشرةً من خلال مكاتبها وفروعها المنتشرة في أنحاء الجمهورية وكذا من خلال الجمعيات والمنظمات
              الشريكة في مجالات تنمية الشباب، التعليم، الصحة، سبل كسب العيش والاحتياجات الأساسية والبيئة.</p>
            <p>المؤسسة قائمة على التطوع وتعمل منذ نشأتها على تنمية الشباب لبناء قدراتهم من أجل العمل على تنمية المجتمعات
              والاستجابة لاحتياجاتهم الإنسانية والإغاثية.</p>
            <p>تتبني المؤسسة مبادئ العمل الإنساني الأساسية: الإنسانية والحيادية والعمل طبقا للاحتياج والاستقلالية، في
              جميع الأعمال التي تقوم بها وذلك للتأكد من أن تقديم المساعدات يتم دون التمييز طبقا للعرق، الدين، النوع أو
              أي اعتبارات أخري، تقدم مؤسسة صناع الحياة التدخلات الإنسانية والتنموية لمستفيدين الأكثر احتياجات مع الحفاظ
              على كرامتهم والتأكد من مشاركتهم.</p>
          </div>
          <img src="../../assets/about-us-sub-2.png" alt="صورة توضيحية عن أعمالنا">
        </div>

      </div>


    </section>
  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>