<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="./about-us.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="our-vision-section">
      <div class="container y-u-max-w-1200">
        <div class="about-us-header">
          <p>رؤيتنا</p>
        </div>
        <div class="about-us-content">
          <div class="right">
            <p><span>رؤيتنا:</span> ان تكون المؤسسة رائدة للأعمال الإنسانية والتنمية الاجتماعية المستهدفة لأسرة واعية
              ومجتمع متماسك رسالتنا الإسهام الخضاري في تطوير مجالات التنمية الاجتماعية ودعم العمل الخيري وتقديم القرض
              الغير ربحي قيمنا الإيمان بقيم التكافل الاجتماعي الأمانة والإخلاص العمل المؤسسي والتطور</p>
            <p><span>الهدف:</span>إحداث الأثر الأكبر في تمكين الإنسان بالمجتمعات التي نعمل بها.</p>
            <p><span>الرسالـة :</span>منظمة خيرية إسلامية عالمية تعمل على تمكين الإنسان تعليمياً وثقافياً واقتصادياً،
              ليكون قادراً على إحداث التأثير الإيجابي في مجتمعه، عبر برامج نوعية عالية الجودة، وشراكات فاعلة.</p>
          </div>
          <img src="../../assets/our-vision.png" alt="صورة توضيحية لرؤيتنا">
        </div>
      </div>


    </section>
  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>