<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan</title>
  <link rel="manifest" href="../manifest.json" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/auth.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products-table.css" />
  <link rel="stylesheet" href="../../components/quantity.css" />
  <link rel="stylesheet" href="../../components/special-form.css" />
  <link rel="stylesheet" href="payment.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner">
    </section>
    <section class="container y-u-max-w-1200 payment-section">


      <div class="payment">
        <div class="payment-option">

          <label for="card" class="radio-group">
            <div class="right">
              <input type="radio" name="payment" id="card" class="y-toggle-input" checked>
              الدفع عبر الإنترنت
            </div>

            <div class="imgs">
              <img src="../../assets/master.png" alt="">
              <img src="../../assets/visa.png" alt="">
            </div>
          </label>
          <div class="y-toggle-content inputs">
            <input type="text" inputmode="text" placeholder="  اسم حامل البطاقة">
            <input type="number" minlength="16" maxlength="16" placeholder="رقم البطاقة">
            <input type="month" inputmode="numeric" placeholder="تاريخ الانتهاء">
            <input type="password" inputmode="numeric" minlength="3" maxlength="3" placeholder="CVV">
          </div>
        </div>
        <div class="payment-option">

          <label for="stc" class="radio-group">
            <div class="right">
              <input type="radio" name="payment" id="stc" class="y-toggle-input">
              الدفع عن طريق stc-pay
            </div>

            <div class="imgs">
              <img src="../../assets/stc-pay.png" alt="">
            </div>

          </label>
          <div class="y-toggle-content input">
            <input type="text" placeholder="اسم المرتبط بالبطاقة">
          </div>
        </div>

      </div>
      <div class="total">
        <h3>الإجمالى</h3>
        <div class="total-items">
          <p>طريقة التبرع</p>
          <p>كفالة طفل</p>
        </div>
        <div class="total-items">
          <p>المبلغ</p>
          <p>1000 <img src="../../assets/ryal.svg" alt=""></p>
        </div>
        <button href="../payment/payment-data.html" class="btn full outline"> <i class="fa-regular fa-heart"></i>
          تبرع</button>


      </div>

    </section>

  </main>


  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>