<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/special-form.css" />
  <link rel="stylesheet" href="payment.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="panner">
    </section>
    <section class="contact-form-section dontate-section">
      <div class="container y-u-max-w-1200">
        <div class="header">
          <i class="fas fa-heart"></i>
          <h2> برنامج التبرع</h2>
        </div>
        <div class="right-left">
          <div class="right">

            <form action="">

              <div class="group dontate-group">
                <input type="checkbox" id="donate-toggle" class="donate-toggle-checkbox">
                <label for="donate-toggle" class="dontate-list">برنامج التبرع اختر <img
                    src="../../assets/left-arrow.svg" alt="أيقونة سهم لليسار"></label>
                <div class="items">
                  <button>
                    كفالة
                  </button>
                  <button>
                    التعليم
                  </button>
                  <button>
                    الصحة
                  </button>
                  <button>
                    الإغاثة
                  </button>
                  <button>
                    البناء
                  </button>
                </div>

              </div>
              <div class="group">
                <label for="name">الاسم </label>
                <input type="text" id="name" name="name" placeholder="اكتب الاسم بالكامل">
              </div>
              <div class="group">
                <label for="email">البريد الإلكتروني </label>
                <input type="email" id="email" name="email" placeholder="example@gmail.com">
              </div>
              <div class="group">
                <label for="number"> رقم الهاتف</label>
                <input type="number" id="number" name="number" placeholder="اكتب رقم الهاتف بدون رموز">
              </div>
              <div class="group">
                <label for="number"> المبلغ</label>
                <input type="number" id="number" name="number" placeholder="اكتب المبلغ">
              </div>


              <a href="../payment/payment.html" class="btn rounded"> <i class="fas fa-arrow-right"></i> اكمل التبرع</a>
            </form>

          </div>
        </div>

      </div>




    </section>
  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>