<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan</title>
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="manifest" href="../manifest.json" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/auth.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products-table.css" />
  <link rel="stylesheet" href="../../components/quantity.css" />
  <link rel="stylesheet" href="../../components/special-form.css" />
  <link rel="stylesheet" href="payment.css" />
  <link rel="stylesheet" href="../../components/popup.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner">
    </section>
    <section class="container y-u-max-w-1200">
      <div class="breadcrumbs">
        <a href="../layout/index.html">الرئيسية</a>
        <p class="active"> الدفع</p>
      </div>

<form id="payment-process-form" class="payment-section">
  <div class="payment">
    <div class="payment-option">
      <label for="card" class="radio-group">
        <div class="right">
          <input type="radio" name="payment" id="card" value="card" class="y-toggle-input" checked>
          الدفع عبر الإنترنت
        </div>
        <div class="imgs">
          <img src="../../assets/payment-methods.png" alt="طرق الدفع المتاحة">
        </div>
      </label>
      <div class="y-toggle-content inputs">
        <div class="group">
          <input type="text" id="card-holder" inputmode="text" placeholder="اسم حامل البطاقة">
        </div>
        <div class="group">
          <input type="text" id="card-number" inputmode="numeric" maxlength="19" placeholder="رقم البطاقة" dir="ltr">
        </div>
        <div class="y-u-flex y-u-gap-8">
          <div class="group" style="flex:1 ">
            <input type="month" id="expiry-date" placeholder="تاريخ الانتهاء">
          </div>
          <div class="group" style="flex:1">
            <input type="password" id="cvv" inputmode="numeric" maxlength="4" placeholder="CVV">
          </div>
        </div>
      </div>
    </div>
    <div class="payment-option">
      <label for="agent" class="radio-group">
        <div class="right">
          <input type="radio" name="payment" id="agent" value="agent" class="y-toggle-input">
          إرسال مندوب
        </div>
      </label>
    </div>
    <div class="payment-option">
      <label for="bank" class="radio-group">
        <div class="right">
          <input type="radio" name="payment" id="bank" value="bank" class="y-toggle-input">
          تحويل بنكي مباشر
        </div>
      </label>
    </div>
  </div>
  <div class="total">
    <div class="total-items">
      <p>برنامج التبرع</p>
      <p>كفالة طفل</p>
    </div>
    <div class="total-items">
      <p>طريقة الدفع</p>
      <p>الدفع عبر الإنترنت</p>
    </div>
    <div class="total-items">
      <p>المبلغ</p>
      <p>1000 <img src="../../assets/ryal.svg" alt="ريال سعودي"></p>
    </div>
    <button type="submit" class="btn full outline"> <i class="fa-regular fa-heart"></i>
      تبرع</button>
  </div>
</form>


    </section>

  </main>


  <y-footer></y-footer>

  <div class="popup-overlay" id="paymentSuccessPopup">
    <div class="popup-content">
      <i class="fa-solid fa-circle-check success-icon"></i>
      <h2>تم بنجاح</h2>
      <a href="../layout/index.html" class="btn-home">
        العودة إلى الرئيسية
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>
  </div>

  <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
  <script src="../../js/y-app-init.js"></script>
  <script src="../../js/form-validation.js"></script>
</body>

</html>