<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ehsaan </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/special-form.css" />
  <link rel="stylesheet" href="../../components/filters.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="payment.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="panner">
    </section>
    <section class="contact-form-section dontate-section">
      <div class="container y-u-max-w-1200">
        <div class="breadcrumbs">
          <a href="../layout/index.html">الرئيسية</a>
          <p class="active"> برنامج التبرع</p>
        </div>
        <div class="header">
          <i class="fas fa-heart"></i>
          <h2> برنامج التبرع</h2>
        </div>
        <div class="right-left">
          <div class="right">

            <form action="" id="donation-data-form">

              <div class="custom-dropdown">
                <div class="dropdown-trigger btn-white">
                    <span class="dropdown-current"> اختر البرنامج </span>
                    <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
                </div>
                <ul class="dropdown-options">
                    <li> كفالة </li>
                    <li> التعليم </li>
                    <li> الصحة </li>
                    <li> الإغاثة </li>
                    <li> البناء </li>
                </ul>
            </div>

              <div class="group">
                <label for="name">الاسم </label>
                <input type="text" id="name" name="name" placeholder="اكتب الاسم بالكامل">
              </div>
              <div class="group">
                <label for="email">البريد الإلكتروني </label>
                <input type="email" id="email" name="email" placeholder="example@gmail.com">
              </div>
              <div class="group">
                <label for="phone"> رقم الهاتف</label>
                <input type="tel" id="phone" name="phone" placeholder="05xxxxxxxx">
              </div>
              <div class="group">
                <label for="amount"> المبلغ</label>
                <input type="number" id="amount" name="amount" placeholder="اكتب المبلغ">
              </div>


              <div class="y-u-flex y-u-items-center y-u-gap-16">
                <a href="../activities/activities.html" class="btn rounded outline"> <i class="fas fa-arrow-right"></i> تبرع اخر</a>
                <button type="submit" class="btn rounded"> <i class="fa-regular fa-heart"></i> اكمل التبرع</button>
              </div>

            </form>

          </div>
        </div>

      </div>




    </section>
  </main>

  <y-footer></y-footer>
  <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
  <script src="../../js/y-app-init.js"></script>
  <script src="../../js/dropdown.js"></script>
  <script src="../../js/form-validation.js"></script>
</body>

</html>