<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Ehsaan</title>
  <link rel="manifest" href="../manifest.json" />

  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />

  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/categories.css" />
  <link rel="stylesheet" href="./layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main class="main-page">
    <section class="hero-section">
      <div class="slider">
        <div class="content">
          <div class="right">
            <h2>هدفنا
              <br>
              انقاذ حياة طفل
            </h2>
            <p>شارك الان سعر السهم 50ريال </p>
            <a href="" class="btn ">تبرع الان <i class="fas fa-donate"></i></a>
          </div>

          <img src="../../assets/hero (1).png" alt="">
        </div>
        <div class="content">
          <div class="right">
            <h2>تبرع
              <br>
              بجلسة غسيل كلوي
            </h2>
            <p>شارك الان سعر السهم 50ريال </p>
            <a href="" class="btn rounded">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <img src="../../assets/hero2.png" alt="">

        </div>
        <div class="content">
          <div class="right">
            <h2>شارك
              <br>
              فى بناء مسجد
            </h2>
            <p>شارك الان سعر السهم 50ريال </p>
            <a href="" class="btn rounded">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <img src="../../assets/mosque.png" alt="">

        </div>
      </div>
      <div class="dots">
        <button class="dot"></button>
        <button class="dot"></button>
        <button class="dot"></button>
      </div>

      <div class="bottom">
        <p class="primary-text">احسان</p>
        <p class="normal-text">مؤسسة رائدة كمثال عالمي للوصول إلي تنمية مجتمع تكافلي ينمو ذاتيا</p>
      </div>


    </section>

    <section class="products-section">
      <div class=" container y-u-max-w-1200">
        <h2> مشروعتنا</h2>
        <div class="products-grid">

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/gaza.png" alt="">
            </a>
            <p class="product-title"> قوافل اغاثة غزة</p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/debit.png" alt="">
            </a>
            <p class="product-title"> كفالة يتيم</p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/chair.png" alt="">
            </a>
            <p class="product-title">اجهزة واطراف صناعية </p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/medicine.png" alt="">
            </a>
            <p class="product-title">توفير علاج </p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>
          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/mosque.png" alt="">
            </a>
            <p class="product-title">بناء مساجد </p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/orphan.png" alt="">
            </a>
            <p class="product-title">زواج يتيمات </p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/gaza.png" alt="">
            </a>
            <p class="product-title"> قوافل اغاثة غزة</p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/orphan-2.png" alt="">
            </a>
            <p class="product-title"> سداد ديون غارمة</p>
            <a href="../payment/payment-data.html" class="btn full">تبرع الان <i class="fas fa-arrow-left"></i></a>
          </div>


        </div>
      </div>
    </section>
    <section class="panner-hero">
      <div class="cards">
        <div class="card">
          <p>مساعينا في الخير</p>
        </div>
        <div class="card">
          <p>+200</p>
          <p class="last">عملية قلب</p>
        </div>
        <div class="card">
          <p>+500</p>
          <p class="last">طرف صناعي</p>
        </div>
        <div class="card">
          <p>+20</p>
          <p class="last">بناء مسجد</p>
        </div>
      </div>
    </section>
    <section class="about-us-section">
      <div class="container y-u-max-w-1200">
        <h2>عن المؤسسة</h2>
        <div class="content">
          <img src="../../assets/navbar-icon.png" alt="">
          <p>هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر
            أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي
            كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص</p>
        </div>
      </div>
    </section>


    <section class="categories-section">
      <div class=" container y-u-max-w-1200">
        <h2> شركاؤنا في الخير</h2>
        <div class="categories-grid">
          <div class="category-item">
            <img src="../../assets/publisher1.png" alt="">
          </div>
          <div class="category-item">
            <img src="../../assets/publisher2.png" alt="">
          </div>
          <div class="category-item">
            <img src="../../assets/publisher3.png" alt="">
          </div>
          <div class="category-item">
            <img src="../../assets/publisher4.png" alt="">
          </div>
          <div class="category-item">
            <img src="../../assets/publisher6.png" alt="">
          </div>
        </div>
      </div>
    </section>




  </main>



  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
  <script src="../../js/add-to-cart-hover.js"></script>
</body>

</html>